body{
  font-family: Arial;
  background-color:plum;
}
.card-collection{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.navbar{
  background-color: plum;
}
/* App.css */
.container{
  background-color: plum;
}
.header{
  background-color: plum;
}
.standout {
  box-shadow: rgba(0,0,0,0.16) 0px 1px 4px , rgb(51,51,51) 0px 0px 0px 3px;
}
h1{
  text-align: center;
  padding: 22px;
  color: rgba(211, 40, 40, 0.792);
  background-color:aqua;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
border-color: black;
}
h5{
  text-decoration: dotted;
  text-align: center;
  padding: 22px;
  color: rgba(356, 401, 40, 0.782);
  background-color:rgb(29, 74, 8);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
border-color: black;
}
/* Header Styles */
.container {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

/* Responsiveness */



@media only screen and (max-width: 600px) {
  .card-collection {
    grid-template-columns: 1fr;
  }
}


/* Navigation Bar Styles */
/* Navigation Bar Styles */
.con{
  background-color: plum;
}
